@font-face {
  font-family: "RuneScape-Quill-Caps";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: url("../font/RuneScape-Quill-Caps.otf") format("opentype");
}

@font-face {
  font-family: "Monument Extended";
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  src: url("../font/MonumentExtended-Regular.otf") format("opentype");
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  cursor: url("../images/cursor.png"), auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=141073), auto;
}

p {
  margin: 0;
}
